body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: gold;
    color: crimson;
}

h1, h2, h3 {
    margin: auto;
    margin-top: 1em;
    text-align: center;
    background-color: lavenderblush;
    padding: 1em;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition-duration: 2s;
}

h1 {
    width: 50%;
}

h2 {
    width: 20%;
}

h3 {
    width: 80%;
}

button {
    background-color: crimson;
    color: gold;
    padding: 8px 12px;
    border: none;
    margin: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: darkred;
}

.totalSale {
    background-color: crimson;
    color: lavenderblush;
    font-size: 24px;
    text-align: center;
    width: 15%;
    margin: auto;
    margin-top: 1em;
    padding: 8px 12px;
    border-radius: 4px;


}

.cakeName {
    background-color: crimson;
    color: lavenderblush;
    width: 40%;

}

footer {
    background-color: crimson;
    color: lavenderblush;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
    font-size: 20px;
    border-radius: 4px;
}

.searchFunction {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    width: 50%;
    padding: 1em;
    background-color: lavenderblush;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.searchFunction button:hover {
    background-color: darkred;
}

.cakeForm {
    text-align: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 4px;
    width: 50%;
    padding: 1em;
    background-color: lavenderblush;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
}

.cakeForm button:hover {
    background-color: darkred;
}

.cakeForm h3 {
    background-color: crimson;
    color: lavenderblush;
    margin-bottom: 5%;
}

.cakeNameInput {
    width: 60%;
}